$font-size: 25px;
$bg-red: red;
$color: white;

body {
    font-size: $font-size;
    background: $bg-red;
}

p {
    color: $color;
}

.navbar {
    .btn {
        font-size: $font-size;
        padding: 10px;
    }

    ul {
        list-style: none;

        li {
            display: inline-block;
        }
    }
}