
$font-size: 25px;
$bg-red: red;

.helo {
    &.test {
        font-size: $font-size;
        padding: 10px;
    }

    ul {
        list-style: none;

        li {
            display: inline-block;
        }
    }
}
